# Python basics practice test file

## String Based Assignment Problem

### 1. Write a program to reverse a string.

In [3]:
s=input("Enter your String:")
print("Your reversed string is:",s[::-1])

Enter your String: Aman Kumar

Your reversed string is: ramuK namA

### 2. Check if a string is a palindrome.

In [16]:
s=input("Enter your String:")
print("Palindrome") if s==s[::-1] else print("Not a palindrome")

Enter your String: AMANAMA

Palindrome

### 3. Convert a string to uppercase.

In [17]:
s=input("Enter your String:")
print("Your string converted to uppercase: ",s.upper())

Enter your String: ambavdhadf BGBSHsdggd

Your string converted to uppercase:  AMBAVDHADF BGBSHSDGGD

### 4. Convert a string to lowercase.

In [18]:
s=input("Enter your String:")
print("Your string converted to lowercase: ",s.lower())

Enter your String: AMnjdbzdbbAAAAAAAAAA

Your string converted to lowercase:  amnjdbzdbbaaaaaaaaaa

### 5. Count the number of vowels in a string.

In [19]:
vowels="AEIOUaeiou"
s=input("Enter your String:")
vowel_count=0
for char in s:
    if char in vowels:
        vowel_count+=1
print("Your string has",vowel_count, "vowels")

Enter your String: Aman Kumar

Your string has 4 vowels

### 6. Count the number of consonants in a string.

In [20]:
vowels="AEIOUaeiou"
s=input("Enter your String:")
consonent_count=0
for char in s:
    if char.isalpha() and char not in vowels:
        consonent_count+=1
print("Your string has",consonent_count, "consonents")

Enter your String: Khushi Gupta Aman KUmar

Your string has 12 consonents

### 7. Remove all whitespaces from a string.

In [22]:
s=input("Enter your String:")
print("Your string after removig all whitespaces:","".join(s.split()))

Enter your String:       Aman is a good                               boy

Your string after removig all whitespaces: Amanisagoodboy

### 8. Find the length of a string without using the `len()` function.

In [23]:
s=input("Enter your String:")
length=0
for i in s:
    length+=1
print("The length of your string is: ",length)

Enter your String: Aman Kumar

The length of your string is:  10

### 9. Check if a string contains a specific word.

In [24]:
s=input("Enter your String:")
specific_word=input("Enter the specific word you want to check:")
print(True) if specific_word in s else print(False)

Enter your String: This sentence contains Aman
Enter the specific word you want to check: Aman

True

### 10. Replace a word in a string with another word.

In [27]:
s=input("Enter your String:")
old_word=input("Enter the specific word you want to change:")
new_word=input("Enter the new word:")
print("your new sentence:",s.replace(old_word,new_word))

Enter your String: Aman and Khushi are good at chess
Enter the specific word you want to change: Aman
Enter the new word: Ankita

your new sentence: Ankita and Khushi are good at chess

### 11. Count the occurrences of a word in a string.

In [29]:
s=input("Enter your String:")
word=input("Enter word to check no of occourance:")
occ=0
for w in s.split():
    if w==word:
        occ+=1
print("Number of occourance of",word,":",occ)

Enter your String: Aman and rahul are Aman and rahul
Enter word to check no of occourance: Aman

Number of occourance of Aman : 2

### 12. Find the first occurrence of a word in a string.

In [31]:
s = input("Enter your string: ")
word_to_find = input("Enter word to find: ")
first_occurrence_index = s.find(word_to_find)
print("First occurrence index:", first_occurrence_index)

Enter your string:  Aman and rahul are Aman and rahul
Enter word to find:  rahul

First occurrence index: 9

### 13. Find the last occurrence of a word in a string.

In [32]:
s = input("Enter your string: ")
word_to_find = input("Enter word to find: ")
last_occurrence_index = s.rfind(word_to_find)
print("Last occurrence index:", last_occurrence_index)

Enter your string:  Aman and rahul are Aman and rahul
Enter word to find:  Aman

Last occurrence index: 19

### 14. Split a string into a list of words.

In [33]:
s = input("Enter your string: ")
words_list = s.split()
print("List of words:", words_list)

Enter your string:  Aman and rahul are Aman and rahul

List of words: ['Aman', 'and', 'rahul', 'are', 'Aman', 'and', 'rahul']

### 15. Join a list of words into a string.

In [35]:
words_list = input("Enter your list of words (separated by space): ").split()
print(words_list)
joined_string = " ".join(words_list)
print("Joined string:", joined_string)

Enter your list of words (separated by space):  I am here to learn Data Science

['I', 'am', 'here', 'to', 'learn', 'Data', 'Science']
Joined string: I am here to learn Data Science

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [36]:
s = input("Enter your string: ")
underscored_string = "_".join(s.split())
print("String with underscores:", underscored_string)

Enter your string:  The cat fell down but she landed on her feet.

String with underscores: The_cat_fell_down_but_she_landed_on_her_feet.

### 17. Check if a string starts with a specific word or phrase.

In [37]:
s = input("Enter your string: ")
start_word = input("Enter starting word or phrase: ")
starts_with_word = s.startswith(start_word)
print("String starts with the word/phrase:", starts_with_word)

Enter your string:  Aman has a cat that sleeps on stairs
Enter starting word or phrase:  Aman

String starts with the word/phrase: True

### 18. Check if a string ends with a specific word or phrase.

In [38]:
s = input("Enter your string: ")
end_word = input("Enter ending word or phrase: ")
ends_with_word = s.endswith(end_word)
print("String ends with the word/phrase:", ends_with_word)

Enter your string:  Here I am again
Enter ending word or phrase:  again

String ends with the word/phrase: True

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [39]:
s = input("Enter your string: ")
title_case_string = s.title()
print("Title case string:", title_case_string)

Enter your string:  hello WORLD

Title case string: Hello World

### 20. Find the longest word in a string.

In [40]:
s = input("Enter your string: ")
longest_word = max(s.split(), key=len)
print("Longest word:", longest_word)

Enter your string:  AManan hvf dgfg BVVVZhvavdudvu b                aka

Longest word: BVVVZhvavdudvu

### 21. Find the shortest word in a string.

In [41]:
s = input("Enter your string: ")
shortest_word = min(s.split(), key=len)
print("Shortest word:", shortest_word)

Enter your string:  na idd jdwdd ff

Shortest word: na

### 22. Reverse the order of words in a string.

In [42]:
s = input("Enter your string: ")
reversed_words_string = " ".join(reversed(s.split()))
print("String with reversed words:", reversed_words_string)

Enter your string:  get out of my house

String with reversed words: house my of out get

### 23. Check if a string is alphanumeric.

In [43]:
s = input("Enter your string: ")
is_alphanumeric = s.isalnum()
print("Is alphanumeric:", is_alphanumeric)

Enter your string:  nagudg 12xbjb Jahan waha kaha

Is alphanumeric: False

### 24. Extract all digits from a string.

In [44]:
s = input("Enter your string: ")
digits = "".join(char for char in s if char.isdigit())
print("Digits extracted:", digits)

Enter your string:   1 aman 234 kumar is 890

Digits extracted: 1234890

### 25. Extract all alphabets from a string.

In [45]:
s = input("Enter your string: ")
alphabets = "".join(char for char in s if char.isalpha())
print("Alphabets extracted:", alphabets)

Enter your string:  1 aman 234 kumar is         890

Alphabets extracted: amankumaris

### 26. Count the number of uppercase letters in a string.

In [46]:
s = input("Enter your string: ")
num_uppercase = sum(1 for char in s if char.isupper())
print("Number of uppercase letters:", num_uppercase)

Enter your string:  Ansns kdbdb AAAAAAAA

Number of uppercase letters: 9

### 27. Count the number of lowercase letters in a string.

In [47]:
s = input("Enter your string: ")
num_lowercase = sum(1 for char in s if char.islower())
print("Number of lowercase letters:", num_lowercase)

Enter your string:  Aman is a good bu=oy BBBBBBBBB

Number of lowercase letters: 14

### 28. Swap the case of each character in a string.

In [48]:
s = input("Enter your string: ")
swapped_case_string = s.swapcase()
print("Swapped case string:", swapped_case_string)

Enter your string:  AMan KUMar

Swapped case string: amAN kumAR

### 29. Remove a specific word from a string.

In [49]:
s = input("Enter your string: ")
word_to_remove = input("Enter word to remove: ")
removed_word_string = " ".join(word for word in s.split() if word != word_to_remove)
print("String with word removed:", removed_word_string)

Enter your string:  Aman Rahul is good boy
Enter word to remove:  Rahul

String with word removed: Aman is good boy

### 30. Check if a string is a valid email address.

In [50]:
import re

email = input("Enter your email address: ")
is_valid_email = bool(re.match(r"[^@]+@[^@]+\.[^@]+", email))
print("Is valid email address:", is_valid_email)

Enter your email address:  aman@aman.com

Is valid email address: True

### 31. Extract the username from an email address string.

In [51]:
email = input("Enter your email address: ")
username = email.split('@')[0]
print("Username:", username)

Enter your email address:  aman@aman.com

Username: aman

### 32. Extract the domain name from an email address string.

In [52]:
email = input("Enter your email address: ")
domain_name = email.split('@')[1].split('.')[0]
print("Domain name:", domain_name)

Enter your email address:  aman@gmail.com

Domain name: gmail

### 33. Replace multiple spaces in a string with a single space.

In [53]:
s = input("Enter your string: ")
single_space_string = " ".join(s.split())
print("String with single spaces:", single_space_string)

Enter your string:  Aman         has a             black     cat.

String with single spaces: Aman has a black cat.

### 34. Check if a string is a valid URL.

In [54]:
import re

url = input("Enter your URL: ")
is_valid_url = bool(re.match(r"https?://[^\s]+", url))
print("Is valid URL:", is_valid_url)

Enter your URL:  https://orange-photographer-miigb.pwskills.app/lab/tree/work/Untitled.ipynb

Is valid URL: True

### 35. Extract the protocol (http or https) from a URL string.

In [55]:
url = input("Enter your URL: ")
protocol = url.split(':')[0]
print("Protocol:", protocol)

Enter your URL:  https://orange-photographer-miigb.pwskills.app/lab/tree/work/Untitled.ipynb

Protocol: https

### 36. Find the frequency of each character in a string.

In [56]:
from collections import Counter

s = input("Enter your string: ")
character_frequency = Counter(s)
print("Character frequency:", character_frequency)

Enter your string:  Aman And Rahul are Aman And Rahul kumar

Character frequency: Counter({' ': 7, 'a': 6, 'A': 4, 'n': 4, 'm': 3, 'u': 3, 'd': 2, 'R': 2, 'h': 2, 'l': 2, 'r': 2, 'e': 1, 'k': 1})

### 37. Remove all punctuation from a string.

In [57]:
import string

s = input("Enter your string: ")
no_punctuation_string = s.translate(str.maketrans("", "", string.punctuation))
print("String without punctuation:", no_punctuation_string)

Enter your string:  import string  s = input("Enter your string: ") no_punctuation_string = s.translate(str.maketrans("", "", string.punctuation)) print("String without punctuation:", no_punctuation_string)

String without punctuation: import string  s  inputEnter your string  nopunctuationstring  stranslatestrmaketrans  stringpunctuation printString without punctuation nopunctuationstring

### 38. Check if a string contains only digits.

In [58]:
s = input("Enter your string: ")
contains_only_digits = s.isdigit()
print("Contains only digits:", contains_only_digits)

Enter your string:  1234567890

Contains only digits: True

### 39. Check if a string contains only alphabets.

In [59]:
s = input("Enter your string: ")
contains_only_alphabets = s.isalpha()
print("Contains only alphabets:", contains_only_alphabets)

Enter your string:  aman jcxbc cscc

Contains only alphabets: False

### 40. Convert a string to a list of characters.

In [60]:
s = input("Enter your string: ")
characters_list = list(s)
print("List of characters:", characters_list)

Enter your string:  aman is a good boy

List of characters: ['a', 'm', 'a', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'g', 'o', 'o', 'd', ' ', 'b', 'o', 'y']

### 41. Check if two strings are anagrams.

In [61]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")
are_anagrams = sorted(s1) == sorted(s2)
print("Are strings anagrams:", are_anagrams)

Enter first string:  AMAN KUMAR
Enter second string:  KMURA MANA

Are strings anagrams: True

### 42. Encode a string using a Caesar cipher.

In [62]:
s = input("Enter your string: ")
shift = int(input("Enter shift value: "))
encoded_string = "".join(chr((ord(char) + shift - 65) % 26 + 65) if char.isupper() else chr((ord(char) + shift - 97) % 26 + 97) if char.islower() else char for char in s)
print("Encoded string:", encoded_string)

Enter your string:  Aman Kumar
Enter shift value:  2

Encoded string: Cocp Mwoct

### 43. Decode a Caesar cipher encoded string.

In [63]:
s = input("Enter your encoded string: ")
shift = int(input("Enter shift value: "))
decoded_string = "".join(chr((ord(char) - shift - 65) % 26 + 65) if char.isupper() else chr((ord(char) - shift - 97) % 26 + 97) if char.islower() else char for char in s)
print("Decoded string:", decoded_string)

Enter your encoded string:  Cocp Mwoct
Enter shift value:  2

Decoded string: Aman Kumar

### 44. Find the most frequent word in a string.

In [64]:
s = input("Enter your string: ")
most_frequent_word = max(set(s.split()), key=s.split().count)
print("Most frequent word:", most_frequent_word)

Enter your string:  Aman Aman Aman aman amna ccg alaa

Most frequent word: Aman

### 45. Find all unique words in a string.

In [65]:
s = input("Enter your string: ")
unique_words = set(s.split())
print("Unique words:", unique_words)

Enter your string:  AMan aman aman kumar is is a good good boy

Unique words: {'boy', 'a', 'kumar', 'good', 'aman', 'AMan', 'is'}

### 46. Count the number of syllables in a string.

In [66]:
import re

def count_syllables(word):
    return max(1, len(re.findall(r'[aeiouy]+', word, flags=re.I)))

s = input("Enter your string: ")
num_syllables = sum(count_syllables(word) for word in s.split())
print("Number of syllables:", num_syllables)

Enter your string:  AMan is a good biy

Number of syllables: 6

### 47. Check if a string contains any special characters.

In [67]:
import string

s = input("Enter your string: ")
contains_special_characters = any(char in string.punctuation for char in s)
print("Contains special characters:", contains_special_characters)

Enter your string:  AMan is () ; haha hvcv --+=

Contains special characters: True

### 48. Remove the nth word from a string.

In [69]:
s = input("Enter your string: ")
n = int(input("Enter the position of the word to remove: "))
words = s.split()
if 0 < n <= len(words):
    del words[n - 1]
    updated_string = " ".join(words)
    print("String with nth word removed:", updated_string)
else:
    print("Invalid position. No changes made.")

Enter your string:  Aman is not a good boy
Enter the position of the word to remove:  3

String with nth word removed: Aman is a good boy

### 49. Insert a word at the nth position in a string.

In [71]:
s = input("Enter your string: ")
n = int(input("Enter the position to insert the word: "))
word_to_insert = input("Enter word to insert: ")
words = s.split()
if 0 <= n <= len(words):
    words.insert(n, word_to_insert)
    updated_string = " ".join(words)
    print("String with word inserted:", updated_string)
else:
    print("Invalid position. No changes made.")

Enter your string:  Aman has a cat
Enter the position to insert the word:  4
Enter word to insert:  black

String with word inserted: Aman has a cat black

### 50. Convert a CSV string to a list of lists.

In [73]:
csv_string = input("Enter your CSV string: ")
list_of_lists = [row.split(',') for row in csv_string.split('\n') if row]
print("List of lists:", list_of_lists)

Enter your CSV string:  aman,is,a,good,boy

List of lists: [['aman', 'is', 'a', 'good', 'boy']]

## List Based Practice Problem :

### 1. Create a list with integers from 1 to 10.

In [4]:
integer_list = list(range(1, 11))
print("List of integers from 1 to 10:", integer_list)

List of integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [5]:
length_of_list = sum(1 for _ in integer_list)
print("Length of the list:", length_of_list)

Length of the list: 10

### 3. Append an element to the end of a list.

In [7]:
element_to_append = int(input("Enter element to append: "))
integer_list.append(element_to_append)
print("List after appending element:", integer_list)

Enter element to append:  12

List after appending element: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 12]

### 4. Insert an element at a specific index in a list.

In [8]:
element_to_insert = int(input("Enter element to insert: "))
index_to_insert = int(input("Enter index to insert at: "))
integer_list.insert(index_to_insert, element_to_insert)
print("List after inserting element:", integer_list)

Enter element to insert:  3
Enter index to insert at:  3

List after inserting element: [1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 13, 12]

### 5. Remove an element from a list by its value.

In [9]:
element_to_remove = int(input("Enter element to remove: "))
if element_to_remove in integer_list:
    integer_list.remove(element_to_remove)
    print("List after removing element:", integer_list)
else:
    print("Element not found in the list. No changes made.")

Enter element to remove:  3

List after removing element: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 12]

### 6. Remove an element from a list by its index.

In [10]:
index_to_remove = int(input("Enter index to remove: "))
if 0 <= index_to_remove < len(integer_list):
    del integer_list[index_to_remove]
    print("List after removing element at index:", integer_list)
else:
    print("Invalid index. No changes made.")

Enter index to remove:  2

List after removing element at index: [1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 12]

### 7. Check if an element exists in a list.

In [11]:
element_to_check = int(input("Enter element to check: "))
is_element_present = element_to_check in integer_list
print("Element present in the list:", is_element_present)

Enter element to check:  5

Element present in the list: True

### 8. Find the index of the first occurrence of an element in a list.

In [12]:
element_to_find = int(input("Enter element to find: "))
first_occurrence_index = integer_list.index(element_to_find) if element_to_find in integer_list else -1
print("Index of first occurrence:", first_occurrence_index)

Enter element to find:  5

Index of first occurrence: 3

### 9. Count the occurrences of an element in a list.

In [13]:
element_to_count = int(input("Enter element to count: "))
occurrences_count = integer_list.count(element_to_count)
print("Occurrences of the element:", occurrences_count)

Enter element to count:  13

Occurrences of the element: 1

### 10. Reverse the order of elements in a list.

In [14]:
reversed_list = list(reversed(integer_list))
print("Reversed list:", reversed_list)

Reversed list: [12, 13, 10, 9, 8, 7, 6, 5, 4, 2, 1]

### 11. Sort a list in ascending order.

In [15]:
sorted_list_ascending = sorted(integer_list)
print("Sorted list in ascending order:", sorted_list_ascending)

Sorted list in ascending order: [1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13]

### 12. Sort a list in descending order.

In [16]:
sorted_list_descending = sorted(integer_list, reverse=True)
print("Sorted list in descending order:", sorted_list_descending)

Sorted list in descending order: [13, 12, 10, 9, 8, 7, 6, 5, 4, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [17]:
even_numbers_list = list(range(2, 21, 2))
print("List of even numbers from 1 to 20:", even_numbers_list)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [18]:
odd_numbers_list = list(range(1, 21, 2))
print("List of odd numbers from 1 to 20:", odd_numbers_list)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [19]:
sum_of_elements = sum(integer_list)
print("Sum of elements in the list:", sum_of_elements)

Sum of elements in the list: 77

### 16. Find the maximum value in a list.

In [20]:
max_value = max(integer_list)
print("Maximum value in the list:", max_value)

Maximum value in the list: 13

### 17. Find the minimum value in a list.

In [21]:
min_value = min(integer_list)
print("Minimum value in the list:", min_value)

Minimum value in the list: 1

### 18. Create a list of squares of numbers from 1 to 10.

In [22]:
squares_list = [num**2 for num in range(1, 11)]
print("List of squares of numbers from 1 to 10:", squares_list)

List of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [23]:
import random

random_list = [random.randint(1, 100) for _ in range(10)]
print("List of random numbers:", random_list)

List of random numbers: [62, 6, 99, 12, 55, 98, 3, 39, 49, 86]

### 20. Remove duplicates from a list.

In [24]:
unique_list = list(set(integer_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13]

### 21. Find the common elements between two lists.

In [26]:
second_list = list(map(int, input("Enter second list of integers (separated by space): ").split()))
common_elements = list(set(integer_list) & set(second_list))
print("Common elements between the two lists:", common_elements)

Enter second list of integers (separated by space):  1 14 2 3 34 5 66

Common elements between the two lists: [1, 2, 5]

### 22. Find the difference between two lists.

In [27]:
difference_elements = list(set(integer_list) - set(second_list))
print("Difference between the two lists:", difference_elements)

Difference between the two lists: [4, 6, 7, 8, 9, 10, 12, 13]

### 23. Merge two lists.

In [28]:
merged_list = integer_list + second_list
print("Merged list:", merged_list)

Merged list: [1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 12, 1, 14, 2, 3, 34, 5, 66]

### 24. Multiply all elements in a list by 2.

In [29]:
doubled_list = [num * 2 for num in integer_list]
print("List with elements multiplied by 2:", doubled_list)

List with elements multiplied by 2: [2, 4, 8, 10, 12, 14, 16, 18, 20, 26, 24]

### 25. Filter out all even numbers from a list.

In [30]:
filtered_odd_list = [num for num in integer_list if num % 2 != 0]
print("List with even numbers removed:", filtered_odd_list)

List with even numbers removed: [1, 5, 7, 9, 13]

### 26. Convert a list of strings to a list of integers.

In [31]:
string_list = input("Enter list of strings (separated by space): ").split()
int_list = list(map(int, string_list))
print("List of integers:", int_list)

Enter list of strings (separated by space):  1 2 3 3 4 5 6

List of integers: [1, 2, 3, 3, 4, 5, 6]

### 27. Convert a list of integers to a list of strings.

In [32]:
str_list = list(map(str, integer_list))
print("List of strings:", str_list)

List of strings: ['1', '2', '4', '5', '6', '7', '8', '9', '10', '13', '12']

### 28. Flatten a nested list.

In [33]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [34]:
fibonacci_list = [0, 1]
while len(fibonacci_list) < 10:
    next_number = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_number)
print("List of the first 10 Fibonacci numbers:", fibonacci_list)

List of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [35]:
is_sorted = all(integer_list[i] <= integer_list[i + 1] for i in range(len(integer_list) - 1))
print("List is sorted:", is_sorted)

List is sorted: False

### 31. Rotate a list to the left by `n` positions.

In [36]:
n_positions = int(input("Enter number of positions to rotate left: "))
rotated_left_list = integer_list[n_positions:] + integer_list[:n_positions]
print("List after rotating left:", rotated_left_list)

Enter number of positions to rotate left:  2

List after rotating left: [4, 5, 6, 7, 8, 9, 10, 13, 12, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [38]:
n_positions = int(input("Enter number of positions to rotate left: "))
rotated_right_list = integer_list[-n_positions:] + integer_list[:-n_positions]
print("List after rotating right:", rotated_right_list)

Enter number of positions to rotate left:  12

List after rotating right: [1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 12]

### 33. Create a list of prime numbers up to 50.

In [39]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 51) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers_list)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [40]:
chunk_size = int(input("Enter chunk size: "))
chunks = [integer_list[i:i + chunk_size] for i in range(0, len(integer_list), chunk_size)]
print("List split into chunks:", chunks)

Enter chunk size:  2

List split into chunks: [[1, 2], [4, 5], [6, 7], [8, 9], [10, 13], [12]]

### 35. Find the second largest number in a list.

In [41]:
sorted_unique_list = sorted(set(integer_list), reverse=True)
second_largest = sorted_unique_list[1] if len(sorted_unique_list) > 1 else None
print("Second largest number in the list:", second_largest)

Second largest number in the list: 12

### 36. Replace every element in a list with its square.

In [43]:
squared_elements=list(map(lambda a:a*a,integer_list))
print("List with elements replaced by their squares:", squared_elements)

List with elements replaced by their squares: [1, 4, 16, 25, 36, 49, 64, 81, 100, 169, 144]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [44]:
list_dict = {}
for i in range(len(integer_list)):
    list_dict[integer_list[i]]=i
print(list_dict)

{1: 0, 2: 1, 4: 2, 5: 3, 6: 4, 7: 5, 8: 6, 9: 7, 10: 8, 13: 9, 12: 10}

### 38. Shuffle the elements of a list randomly.

In [45]:
random.shuffle(integer_list)
print("List after shuffling:", integer_list)

List after shuffling: [9, 13, 10, 7, 12, 8, 4, 5, 2, 6, 1]

### 39. Create a list of the first 10 factorial numbers.

In [46]:
import math

factorial_list = [math.factorial(num) for num in range(10)]
print("List of the first 10 factorial numbers:", factorial_list)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [47]:
common_elements_check = any(element in second_list for element in integer_list)
print("Lists have at least one element in common:", common_elements_check)

Lists have at least one element in common: True

### 41. Remove all elements from a list.

In [48]:
integer_list.clear()
print("List after removing all elements:", integer_list)

List after removing all elements: []

### 42. Replace negative numbers in a list with 0.

In [50]:
integer_list=[1, -4, 16, -25, 36, -49, -64, 81, -100, 169, 144]
negative_replaced_list = [max(0, num) for num in integer_list]
print("List with negative numbers replaced by 0:", negative_replaced_list)

List with negative numbers replaced by 0: [1, 0, 16, 0, 36, 0, 0, 81, 0, 169, 144]

### 43. Convert a string into a list of words.

In [51]:
string_input = input("Enter a string: ")
words_list = string_input.split()
print("List of words:", words_list)

Enter a string:  Hello there, I am learning data science

List of words: ['Hello', 'there,', 'I', 'am', 'learning', 'data', 'science']

### 44. Convert a list of words into a string.

In [52]:
list_input = ['Hello', 'there,', 'I', 'am', 'learning', 'data', 'science']
string_from_list = " ".join(list_input)
print("String from list of words:", string_from_list)

String from list of words: Hello there, I am learning data science

### 45. Create a list of the first `n` powers of 2.

In [53]:
n_powers_of_2 = int(input("Enter value of n: "))
powers_of_2_list = [2 ** i for i in range(n_powers_of_2)]
print(f"List of the first {n_powers_of_2} powers of 2:", powers_of_2_list)

Enter value of n:  10

List of the first 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### 46. Find the longest string in a list of strings.

In [55]:
strings_list = ['Hello', 'there,', 'I', 'am', 'learning', 'data', 'science']
longest_string = max(strings_list, key=len, default=None)
print("Longest string in the list:", longest_string)

Longest string in the list: learning

### 47. Find the shortest string in a list of strings.

In [56]:
shortest_string = min(strings_list, key=len, default=None)
print("Shortest string in the list:", shortest_string)

Shortest string in the list: I

### 48. Create a list of the first `n` triangular numbers.

In [57]:
n_triangular_numbers = int(input("Enter value of n: "))
triangular_numbers_list = [i * (i + 1) // 2 for i in range(n_triangular_numbers)]
print(f"List of the first {n_triangular_numbers} triangular numbers:", triangular_numbers_list)

Enter value of n:  10

List of the first 10 triangular numbers: [0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

### 49. Check if a list contains another list as a subsequence.

In [59]:
subsequence_list = list(map(int, input("Enter a subsequence list (separated by space): ").split()))
is_subsequence = all(element in integer_list for element in subsequence_list)
print("List contains the subsequence:", is_subsequence)

Enter a subsequence list (separated by space):  1 2 3 4

List contains the subsequence: False

### 50. Swap two elements in a list by their indices.

In [60]:
index1 = int(input("Enter index of first element to swap: "))
index2 = int(input("Enter index of second element to swap: "))
if 0 <= index1 < len(integer_list) and 0 <= index2 < len(integer_list):
    integer_list[index1], integer_list[index2] = integer_list[index2], integer_list[index1]
    print("List after swapping elements:", integer_list)
else:
    print("Invalid indices. No changes made.")

Enter index of first element to swap:  5
Enter index of second element to swap:  2

List after swapping elements: [1, -4, -49, -25, 36, 16, -64, 81, -100, 169, 144]

## Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [141]:
integer_tuple = tuple(range(1, 6))
print("Tuple with integers from 1 to 5:", integer_tuple)

Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [142]:
third_element = integer_tuple[2]
print("Third element of the tuple:", third_element)

Third element of the tuple: 3

### 3. Find the length of a tuple without using the `len()` function.

In [143]:
length_of_tuple = sum(1 for _ in integer_tuple)
print("Length of the tuple:", length_of_tuple)

Length of the tuple: 5

### 4. Count the occurrences of an element in a tuple.

In [144]:
element_to_count = int(input("Enter element to count: "))
occurrences_count = integer_tuple.count(element_to_count)
print("Occurrences of the element:", occurrences_count)

Enter element to count:  3

Occurrences of the element: 1

### 5. Find the index of the first occurrence of an element in a tuple.

In [145]:
element_to_find = int(input("Enter element to find: "))
first_occurrence_index = integer_tuple.index(element_to_find) if element_to_find in integer_tuple else -1
print("Index of first occurrence:", first_occurrence_index)

Enter element to find:  3

Index of first occurrence: 2

### 6. Check if an element exists in a tuple.

In [147]:
element_to_check = int(input("Enter element to check: "))
is_element_present = element_to_check in integer_tuple
print("Element present in the tuple:", is_element_present)

Enter element to check:  4

Element present in the tuple: True

### 7. Convert a tuple to a list.

In [148]:
tuple_to_list = list(integer_tuple)
print("Tuple converted to a list:", tuple_to_list)

Tuple converted to a list: [1, 2, 3, 4, 5]

### 8. Convert a list to a tuple.

In [149]:
list_to_tuple = tuple(tuple_to_list)
print("List converted to a tuple:", list_to_tuple)

List converted to a tuple: (1, 2, 3, 4, 5)

### 9. Unpack the elements of a tuple into variables.

In [150]:
var1, var2, var3, var4, var5 = integer_tuple
print("Unpacked variables:", var1, var2, var3, var4, var5)

Unpacked variables: 1 2 3 4 5

### 10. Create a tuple of even numbers from 1 to 10.

In [151]:
even_numbers_tuple = tuple(range(2, 11, 2))
print("Tuple of even numbers from 1 to 10:", even_numbers_tuple)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [152]:
odd_numbers_tuple = tuple(range(1, 11, 2))
print("Tuple of odd numbers from 1 to 10:", odd_numbers_tuple)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [153]:
second_tuple = (6,7,78,9,0)
concatenated_tuple = integer_tuple + second_tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6, 7, 78, 9, 0)

### 13. Repeat a tuple three times.

In [154]:
repeated_tuple = integer_tuple * 3
print("Repeated tuple three times:", repeated_tuple)

Repeated tuple three times: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 14. Check if a tuple is empty.

In [155]:
is_empty = not bool(integer_tuple)
print("Tuple is empty:", is_empty)

Tuple is empty: False

### 15. Create a nested tuple.

In [156]:
nested_tuple = (integer_tuple, second_tuple)
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3, 4, 5), (6, 7, 78, 9, 0))

### 16. Access the first element of a nested tuple.

In [157]:
first_element_nested = nested_tuple[0][0]
print("First element of the nested tuple:", first_element_nested)

First element of the nested tuple: 1

### 17. Create a tuple with a single element.

In [158]:
single_element_tuple = (42,)
print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

### 18. Compare two tuples.

In [169]:
comparison_tuple = tuple(map(int, input("Enter tuple for comparison (separated by space): ").split()))
are_tuples_identical = integer_tuple == comparison_tuple
print("Tuples are identical:", are_tuples_identical)

Enter tuple for comparison (separated by space):  2 3 4 5 3 8 9 0

Tuples are identical: False

### 19. Delete a tuple.

In [170]:
del_tuple =comparison_tuple  # Tuple cannot be deleted, converting to list
del comparison_tuple
print("Tuple deleted:", del_tuple)  # Note: tuple_to_list still exists

Tuple deleted: (2, 3, 4, 5, 3, 8, 9, 0)

### 20. Slice a tuple.

In [172]:
start_index = int(input("Enter start index for slicing: "))
end_index = int(input("Enter end index for slicing: "))
sliced_tuple = integer_tuple[start_index:end_index]
print("Sliced tuple:", sliced_tuple)

Enter start index for slicing:  2
Enter end index for slicing:  3

Sliced tuple: (3,)

### 21. Find the maximum value in a tuple.

In [173]:
max_value_tuple = max(integer_tuple)
print("Maximum value in the tuple:", max_value_tuple)

Maximum value in the tuple: 5

### 22. Find the minimum value in a tuple.

In [174]:
min_value_tuple = min(integer_tuple)
print("Minimum value in the tuple:", min_value_tuple)

Minimum value in the tuple: 1

### 23. Convert a string to a tuple of characters.

In [175]:
string_input = input("Enter a string: ")
char_tuple = tuple(string_input)
print("Tuple of characters:", char_tuple)

Enter a string:  AMAN KUMAR

Tuple of characters: ('A', 'M', 'A', 'N', ' ', 'K', 'U', 'M', 'A', 'R')

### 24. Convert a tuple of characters to a string.

In [176]:
string_from_tuple = "".join(char_tuple)
print("String from tuple of characters:", string_from_tuple)

String from tuple of characters: AMAN KUMAR

### 25. Create a tuple from multiple data types.

In [177]:
mixed_tuple = (1, "hello", 3.14, True)
print("Tuple with multiple data types:", mixed_tuple)

Tuple with multiple data types: (1, 'hello', 3.14, True)

### 26. Check if two tuples are identical.

In [180]:
second_comparison_tuple = (1, "hello", 3.14, True)
are_tuples_identical_mixed = mixed_tuple == second_comparison_tuple
print("Tuples are identical:", are_tuples_identical_mixed)

Tuples are identical: True

### 27. Sort the elements of a tuple.

In [181]:
sorted_tuple = tuple(sorted(integer_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 4, 5)

### 28. Convert a tuple of integers to a tuple of strings.

In [182]:
str_tuple = tuple(map(str, integer_tuple))
print("Tuple of integers converted to strings:", str_tuple)

Tuple of integers converted to strings: ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [183]:
int_tuple = tuple(map(int, str_tuple))
print("Tuple of strings converted to integers:", int_tuple)

Tuple of strings converted to integers: (1, 2, 3, 4, 5)

### 30. Merge two tuples.

In [184]:
merged_tuple = integer_tuple + second_tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6, 7, 78, 9, 0)

### 31. Flatten a nested tuple.

In [187]:
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

### 32. Create a tuple of the first 5 prime numbers.

In [200]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

n =5
prime_numbers_tuple = tuple(num for num in range(2, 100) if is_prime(num))[:n]

print(f"Tuple of the first {n} prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [189]:
is_palindrome = integer_tuple == integer_tuple[::-1]
print("Tuple is a palindrome:", is_palindrome)

Tuple is a palindrome: False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [190]:
squares_tuple = tuple(num**2 for num in range(1, 6))
print("Tuple of squares of numbers from 1 to 5:", squares_tuple)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [191]:
filtered_odd_tuple = tuple(num for num in integer_tuple if num % 2 != 0)
print("Tuple with even numbers removed:", filtered_odd_tuple)

Tuple with even numbers removed: (1, 3, 5)

### 36. Multiply all elements in a tuple by 2.

In [192]:
doubled_tuple = tuple(num * 2 for num in integer_tuple)
print("Tuple with elements multiplied by 2:", doubled_tuple)

Tuple with elements multiplied by 2: (2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [193]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (95, 97, 5, 55, 9)

### 38. Check if a tuple is sorted.

In [194]:
is_sorted_tuple = all(integer_tuple[i] <= integer_tuple[i + 1] for i in range(len(integer_tuple) - 1))
print("Tuple is sorted:", is_sorted_tuple)

Tuple is sorted: True

### 39. Rotate a tuple to the left by `n` positions.

In [195]:
n_positions_left = int(input("Enter number of positions to rotate left: "))
rotated_left_tuple = integer_tuple[n_positions_left:] + integer_tuple[:n_positions_left]
print("Tuple after rotating left:", rotated_left_tuple)

Enter number of positions to rotate left:  3

Tuple after rotating left: (4, 5, 1, 2, 3)

### 40. Rotate a tuple to the right by `n` positions.

In [197]:
n_positions_right = int(input("Enter number of positions to rotate right: "))
rotated_right_tuple = integer_tuple[-n_positions_right:] + integer_tuple[:-n_positions_right]
print("Tuple after rotating right:", rotated_right_tuple)

Enter number of positions to rotate right:  1

Tuple after rotating right: (5, 1, 2, 3, 4)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [199]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)
    return tuple(fibonacci_numbers[:n])
n = 5
fibonacci_tuple = generate_fibonacci(n)
print(f"Tuple of the first {n} Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [201]:
user_input_tuple = tuple(map(int, input("Enter tuple elements (separated by space): ").split()))
print("Tuple from user input:", user_input_tuple)

Enter tuple elements (separated by space):  3 56 78 0 9 45 12 3

Tuple from user input: (3, 56, 78, 0, 9, 45, 12, 3)

### 43. Swap two elements in a tuple.

In [204]:
index1_swap = int(input("Enter index of first element to swap: "))
index2_swap = int(input("Enter index of second element to swap: "))
if 0 <= index1_swap < len(integer_tuple) and 0 <= index2_swap < len(integer_tuple):
    swap_list = list(integer_tuple)
    swap_list[index1_swap], swap_list[index2_swap] = swap_list[index2_swap], swap_list[index1_swap]
    swapped_tuple = tuple(swap_list)
    print("Tuple after swapping elements:", swapped_tuple)
else:
    print("Invalid indices. No changes made.")

Enter index of first element to swap:  1
Enter index of second element to swap:  4

Tuple after swapping elements: (1, 5, 3, 4, 2)

### 44. Reverse the elements of a tuple.

In [205]:
reversed_tuple = integer_tuple[::-1]
print("Tuple after reversing elements:", reversed_tuple)

Tuple after reversing elements: (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [207]:
n_powers_of_2_tuple = tuple(2**i for i in range(int(input("Enter value of n for powers of 2: "))))
print(f"Tuple of the first {len(n_powers_of_2_tuple)} powers of 2:", n_powers_of_2_tuple)

Enter value of n for powers of 2:  10

Tuple of the first 10 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

### 46. Find the longest string in a tuple of strings.

In [208]:
strings_tuple = tuple(input("Enter a tuple of strings (separated by space): ").split())
longest_string_tuple = max(strings_tuple, key=len, default=None)
print("Longest string in the tuple:", longest_string_tuple)

Enter a tuple of strings (separated by space):  Aman and Rahul are learning DATA STRUCTURES

Longest string in the tuple: STRUCTURES

### 47. Find the shortest string in a tuple of strings.

In [209]:
strings_tuple = tuple(input("Enter a tuple of strings (separated by space): ").split())
longest_string_tuple = min(strings_tuple, key=len, default=None)
print("Longest string in the tuple:", longest_string_tuple)

Enter a tuple of strings (separated by space):  Aman and Rahul are learning DATA STRUCTURES

Longest string in the tuple: and

### 48. Create a tuple of the first `n` triangular numbers.

In [210]:
n_triangular_numbers_tuple = tuple(i * (i + 1) // 2 for i in range(int(input("Enter value of n for triangular numbers: "))))
print(f"Tuple of the first {len(n_triangular_numbers_tuple)} triangular numbers:", n_triangular_numbers_tuple)

Enter value of n for triangular numbers:  10

Tuple of the first 10 triangular numbers: (0, 1, 3, 6, 10, 15, 21, 28, 36, 45)

### 49. Check if a tuple contains another tuple as a subsequence.

In [211]:
subsequence_tuple = tuple(map(int, input("Enter a subsequence tuple (separated by space): ").split()))
is_subsequence_tuple = all(element in integer_tuple for element in subsequence_tuple)
print("Tuple contains the subsequence:", is_subsequence_tuple)

Enter a subsequence tuple (separated by space):  1 2 3 4 5 6

Tuple contains the subsequence: False

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [212]:
n_alternating_tuple = int(input("Enter length of alternating 1s and 0s tuple: "))
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n_alternating_tuple))
print(f"Tuple of alternating 1s and 0s of length {n_alternating_tuple}:", alternating_tuple)

Enter length of alternating 1s and 0s tuple:  11

Tuple of alternating 1s and 0s of length 11: (1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [265]:
set_integers = set(i for i in range(1,6))
print("Set with integers from 1 to 5:", set_integers)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [266]:
element_to_add = int(input("Enter element to add to the set: "))
set_integers.add(element_to_add)
print("Set after adding element:", set_integers)

Enter element to add to the set:  10

Set after adding element: {1, 2, 3, 4, 5, 10}

### 3. Remove an element from a set.

In [267]:
element_to_remove = int(input("Enter element to remove from the set: "))
set_integers.discard(element_to_remove)
print("Set after removing element:", set_integers)

Enter element to remove from the set:  3

Set after removing element: {1, 2, 4, 5, 10}

### 4. Check if an element exists in a set.

In [268]:
element_to_check = int(input("Enter element to check in the set: "))
is_element_present = element_to_check in set_integers
print("Element present in the set:", is_element_present)

Enter element to check in the set:  10

Element present in the set: True

### 5. Find the length of a set without using the `len()` function.

In [269]:
length_of_set = sum(1 for _ in set_integers)
print("Length of the set:", length_of_set)

Length of the set: 5

### 6. Clear all elements from a set.

In [270]:
set_integers.clear()
print("Set after clearing all elements:", set_integers)

Set after clearing all elements: set()

### 7. Create a set of even numbers from 1 to 10.

In [271]:
set_even_numbers = {num for num in range(1, 11) if num % 2 == 0}
print("Set of even numbers from 1 to 10:", set_even_numbers)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [272]:
set_odd_numbers = {num for num in range(1, 11) if num % 2 != 0}
print("Set of odd numbers from 1 to 10:", set_odd_numbers)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [274]:
second_set = set(map(int, input("Enter second set (separated by space): ").split()))
union_set = set_even_numbers.union(second_set)
print("Union of two sets:", union_set)

Enter second set (separated by space):  2 3 4 5 6 600

Union of two sets: {2, 3, 4, 5, 6, 8, 10, 600}

### 10. Find the intersection of two sets.

In [275]:
intersection_set = union_set.intersection(second_set)
print("Intersection of two sets:", intersection_set)

Intersection of two sets: {2, 3, 4, 5, 6, 600}

### 11. Find the difference between two sets.

In [276]:
difference_set = set_integers.difference(second_set)
print("Difference between two sets:", difference_set)

Difference between two sets: set()

### 12. Check if a set is a subset of another set.

In [277]:
is_subset = set_integers.issubset(second_set)
print("Set is a subset of another set:", is_subset)

Set is a subset of another set: True

### 13. Check if a set is a superset of another set.

In [278]:
is_superset = set_integers.issuperset(second_set)
print("Set is a superset of another set:", is_superset)

Set is a superset of another set: False

### 14. Create a set from a list.

In [279]:
list_to_set = set([int(item) for item in input("Enter a list (separated by space): ").split()])
print("Set from a list:", list_to_set)

Enter a list (separated by space):  2 3 4 5 6 7 8 2 3 4 5

Set from a list: {2, 3, 4, 5, 6, 7, 8}

### 15. Convert a set to a list.

In [280]:
set_to_list = list(set_integers)
print("List from a set:", set_to_list)

List from a set: []

### 16. Remove a random element from a set.

In [290]:
set_integers={1,2,3,4,5,6,7,8,9,12,3,5,23}
if set_integers:
    random_element = random.sample(set_integers, 1)[0]
    set_integers.remove(random_element)
    print("Set after removing random element:", set_integers)
else:
    print("Set is empty. Cannot remove a random element.")

Set after removing random element: {1, 2, 3, 4, 5, 6, 7, 9, 12, 23}

/tmp/ipykernel_84/200685215.py:3: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  random_element = random.sample(set_integers, 1)[0]

### 17. Pop an element from a set.

In [291]:
popped_element = set_integers.pop() if set_integers else None
print("Set after popping an element:", set_integers, "Popped element:", popped_element)

Set after popping an element: {2, 3, 4, 5, 6, 7, 9, 12, 23} Popped element: 1

### 18. Check if two sets have no elements in common.

In [292]:
no_common_elements = set_integers.isdisjoint(second_set)
print("Sets have no elements in common:", no_common_elements)

Sets have no elements in common: False

### 19. Find the symmetric difference between two sets.

In [293]:
symmetric_difference_set = set_integers.symmetric_difference(second_set)
print("Symmetric difference between two sets:", symmetric_difference_set)

Symmetric difference between two sets: {7, 9, 12, 23, 600}

### 20. Update a set with elements from another set.

In [295]:
set_integers.update(second_set)
print("Set after updating with elements from another set:", set_integers)

Set after updating with elements from another set: {2, 3, 4, 5, 6, 7, 9, 12, 23, 600}

### 21. Create a set of the first 5 prime numbers.

In [298]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
n = 5
prime_numbers_tuple = set([num for num in range(2, 100) if is_prime(num)][:5])

print(f"Tuple of the first {n} prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [300]:
are_sets_identical = set_integers == second_set
print("Sets are identical:", are_sets_identical)

Sets are identical: False

### 23. Create a frozen set.

In [301]:
frozen_set = frozenset(set_integers)
print("Frozen set:", frozen_set)

Frozen set: frozenset({2, 3, 4, 5, 6, 7, 9, 12, 23, 600})

### 24. Check if a set is disjoint with another set.

In [302]:
is_disjoint = set_integers.isdisjoint(set_odd_numbers)
print("Sets are disjoint:", is_disjoint)

Sets are disjoint: False

### 25. Create a set of squares of numbers from 1 to 5.

In [305]:
set_squares = {num**2 for num in range(1, 6)}
print("Set of squares of numbers from 1 to 5:", set_squares)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [304]:
filtered_set = {num for num in set_integers if num % 2 != 0}
print("Set after filtering out even numbers:", filtered_set)

Set after filtering out even numbers: {3, 5, 7, 9, 23}

### 27. Multiply all elements in a set by 2.

In [306]:
multiplied_set = {num * 2 for num in set_integers}
print("Set after multiplying all elements by 2:", multiplied_set)

Set after multiplying all elements by 2: {4, 6, 8, 10, 12, 14, 46, 1200, 18, 24}

### 28. Create a set of random numbers.

In [307]:
random_set = {random.randint(1, 100) for _ in range(5)}
print("Set of random numbers:", random_set)

Set of random numbers: {73, 41, 14, 51, 25}

### 29. Check if a set is empty.

In [308]:
is_empty = not bool(set_integers)
print("Set is empty:", is_empty)

Set is empty: False

### 30. Create a nested set (hint: use frozenset).

In [311]:
nested_set = frozenset({1, frozenset({2, 3})})
print("Nested set:", nested_set)

Nested set: frozenset({1, frozenset({2, 3})})

### 31. Remove an element from a set using the discard method.

In [312]:
element_to_discard = int(input("Enter element to discard from the set: "))
set_integers.discard(element_to_discard)
print("Set after discarding element:", set_integers)

Enter element to discard from the set:  6

Set after discarding element: {2, 3, 4, 5, 7, 9, 12, 23, 600}

### 32. Compare two sets.

In [314]:
is_equal = set_integers == second_set
is_subset = set_integers.issubset(second_set)
is_superset = set_integers.issuperset(second_set)

print("Sets are equal:", is_equal)
print("Set is a subset of another set:", is_subset)
print("Set is a superset of another set:", is_superset)

Sets are equal: False
Set is a subset of another set: False
Set is a superset of another set: False

### 33. Create a set from a string.

In [315]:
string_to_set = set(input("Enter a string: "))
print("Set from a string:", string_to_set)

Enter a string:  AMANKUMAR

Set from a string: {'R', 'N', 'M', 'K', 'A', 'U'}

### 34. Convert a set of strings to a set of integers.

In [316]:
set_of_strings = {'1', '2', '3'}
set_of_integers = {int(item) for item in set_of_strings}
print("Set of integers from a set of strings:", set_of_integers)

Set of integers from a set of strings: {1, 2, 3}

### 35. Convert a set of integers to a set of strings.

In [317]:
set_of_strings = {str(num) for num in set_integers}
print("Set of strings from a set of integers:", set_of_strings)

Set of strings from a set of integers: {'7', '3', '9', '2', '4', '600', '23', '5', '12'}

### 36. Create a set from a tuple.

In [318]:
tuple_to_set = set((1, 2, 3))
print("Set from a tuple:", tuple_to_set)

Set from a tuple: {1, 2, 3}

### 37. Convert a set to a tuple.

In [319]:
set_to_tuple = tuple(set_integers)
print("Tuple from a set:", set_to_tuple)

Tuple from a set: (2, 3, 4, 5, 7, 9, 12, 23, 600)

### 38. Find the maximum value in a set.

In [320]:
max_value_set = max(set_integers, default=None)
print("Maximum value in the set:", max_value_set)

Maximum value in the set: 600

### 39. Find the minimum value in a set.

In [321]:
min_value_set = min(set_integers, default=None)
print("Minimum value in the set:", min_value_set)

Minimum value in the set: 2

### 40. Create a set from user input.

In [322]:
user_input_set = set(map(int, input("Enter elements for a set (separated by space): ").split()))
print("Set from user input:", user_input_set)

Enter elements for a set (separated by space):  2 3 4 67 88 990 2 3

Set from user input: {2, 67, 3, 4, 88, 990}

### 41. Check if the intersection of two sets is empty.

In [323]:
is_intersection_empty = set_integers.isdisjoint(second_set)
print("Intersection of two sets is empty:", is_intersection_empty)

Intersection of two sets is empty: False

### 42. Create a set of the first 5 Fibonacci numbers.

In [327]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set
n =5
fibonacci_numbers_set = generate_fibonacci(n)

print(f"Set of the first {n} Fibonacci numbers:", fibonacci_numbers_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

### 43. Remove duplicates from a list using sets.

In [328]:
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_set = set(list_with_duplicates)
list_without_duplicates = list(unique_set)
print("List without duplicates:", list_without_duplicates)

List without duplicates: [1, 2, 3, 4, 5, 6]

### 44. Check if two sets have the same elements, regardless of their count.

In [329]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1, 2, 3, 4}
are_sets_equal = set1 == set2
print("Sets have the same elements:", are_sets_equal)

Sets have the same elements: True

### 45. Create a set of the first `n` powers of 2.

In [330]:
n_powers_of_2_set = {2**i for i in range(int(input("Enter value of n for powers of 2: ")))}
print(f"Set of the first {len(n_powers_of_2_set)} powers of 2:", n_powers_of_2_set)

Enter value of n for powers of 2:  10

Set of the first 10 powers of 2: {32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

### 46. Find the common elements between a set and a list.

In [331]:
set_for_common_elements = {1, 2, 3, 4, 5}
list_for_common_elements = [3, 4, 5, 6, 7]
common_elements = set_for_common_elements.intersection(list_for_common_elements)
print("Common elements between set and list:", common_elements)

Common elements between set and list: {3, 4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [332]:
n_triangular_numbers_set = {i * (i + 1) // 2 for i in range(int(input("Enter value of n for triangular numbers: ")))}
print(f"Set of the first {len(n_triangular_numbers_set)} triangular numbers:", n_triangular_numbers_set)

Enter value of n for triangular numbers:  10

Set of the first 10 triangular numbers: {0, 1, 3, 36, 6, 10, 45, 15, 21, 28}

### 48. Check if a set contains another set as a subset.

In [333]:
set_to_check = {1, 2, 3}
larger_set = {1, 2, 3, 4, 5, 6}
is_subset = set_to_check.issubset(larger_set)
print("Set is a subset:", is_subset)

Set is a subset: True

### 49. Create a set of alternating 1s and 0s of length `n`.

In [334]:
n_alternating_set = int(input("Enter length of alternating 1s and 0s set: "))
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n_alternating_set)}
print(f"Set of alternating 1s and 0s of length {n_alternating_set}:", alternating_set)

Enter length of alternating 1s and 0s set:  19

Set of alternating 1s and 0s of length 19: {0, 1}

### 50. Merge multiple sets into one.

In [335]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}